# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# API Configuration
NUXT_PUBLIC_API_BASE_URL=http://localhost:3000

# GitHub OAuth Configuration
# 这些配置应该与后端 API 一致
NUXT_PUBLIC_GITHUB_CLIENT_ID=

# CloudBase Configuration
NUXT_PUBLIC_CLOUDBASE_ENV_ID=
NUXT_PUBLIC_CLOUDBASE_REGION=ap-shanghai
NUXT_PUBLIC_CLOUDBASE_ACCESS_KEY=
